# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Get this from your project's API settings (service_role key)
SUPABASE_SERVICE_ROLE_KEY=

CREEM_WEBHOOK_SECRET=
CREEM_API_KEY=
CREEM_API_URL=https://test-api.creem.io/v1

# Site URL for authentication callbacks
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Redirect success url after payment
CREEM_SUCCESS_URL=http://localhost:3000/dashboard
